# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env
dist/
build/
coverage/
*.tgz

# Firebase

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Misc
*.swp
*.bak
*.tmp